# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
env/
.env
.env.*

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
build/
.npm
*.tgz

# React / Vite
frontend/dist/
frontend/.env
frontend/.env.local

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Secrets
*.pem
*.key
secret_key.txt