# Core
Django==6.0.4
djangorestframework==3.17.1
django-cors-headers==4.9.0

# Database
psycopg2-binary==2.9.11

# Environment
python-dotenv==1.0.0

# Modulo 1: Hashing de passwords y generacion de llaves RSA/ECC
argon2-cffi==25.1.0
cryptography==46.0.5

# Modulo 2: Cifrado hibrido AES-256-GCM + RSA-OAEP
pycryptodome==3.23.0

# Modulo 3: Firmas digitales ECDSA
# (pycryptodome ya cubre ECDSA)

# Modulo 4: JWT + TOTP/MFA
PyJWT==2.12.1
pyotp==2.9.0
